<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>privateKey</key>
	<string>sU9w2DCTK0</string>
	<key>readtoken</key>
	<string>alAciHSnXp-xHUbhNkxvq-wxwTlAf0GO</string>
	<key>writetoken</key>
	<string>WIb9ytKiTmB80pP-KTC8Vow9L6dWge59</string>
	<key>userId</key>
	<string>1bcc3aa440</string>
</dict>
</plist>
